
<h1>Topics</h1>

<% @topics.each do |topic| %>
  <%=link_to "#{topic.title}", topic_path(topic) %>
  <% if user_signed_in? %>
    <% if current_user.id == topic.user_id or current_user.has_role? :admin%>
      <%= link_to 'Delete', topic_path(topic), :method => :delete %>
    <% end %>
  <% end %>
  <br>
<% end %>

<br>
<%= link_to 'New Topic', new_topic_path %>
